<!DOCTYPE html>
<html>
<head>
	<title>The Plug</title>
	<link rel="icon" type="image/png" sizes="32x32" href="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/512/Music-icon.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-toggle-md">
			<button></button>
	<div class="fluid__video"><div class="intro__content intro__content--desktop"><h1>Magical Tools for Visual Storytelling</h1><div class="btn__group btn__group--splash"><buy-modal-button product="pro" class-names="btn btn--white btn__splash" class="ng-isolate-scope"><a ng-class="classNames" ng-click="openBuyModal(product, coupon)" class="ng-binding btn btn--white btn__splash">Get a plan <div class="fa fa-caret-right"></div></a></buy-modal-button><a href="https://www.youtube.com/watch?v=aIYvLKiIsKc" ng-click="ytModal($event)" class="btn btn--blue btn--icon btn__splash">Take a Tour</a></div></div><div class="video__overlay"></div><iframe src="https://media.flixel.com/cinemagraph/wh5g4f7yq195sivn2o1f?hd=true"></iframe><div class="credit"><a target="_blank" href="https://flixel.com/DomQuichotte/">DomQuichotte</a></div></div>
</body>
</html>